/* O asterísco serve para resetar as config da página */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f5f5f5;
}

html,section {
    margin: 10px;
    padding: 10px;
}

div {
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
}

footer {
    font-style: oblique;
    padding: 3px;
    margin-top: 90px;
    background-color: #f88080;
    width: 1490px;
    height: 20px;
}

section>h1{
    color: rgb(110, 9, 9);
}

div>fieldset{
    margin: 10px;
    padding: 10px;
    margin-right: 1000px;
}

button{
    width: 90px;
    height: 30px;
    font-family: Times New Roman;
}

header{
    background-color: #f88080;
    font-style: oblique;
    width: 1490px;
    height: 60px;
}



